---
import HeaderLink from './HeaderLink.astro';
import LinkToHome from './LinkToHome.astro';

const { fillBg } = Astro.props;
---

<div
  class:list={[
    'py-3',
    'flex',
    'flex-row',
    'items-center',
    'lg:ml--48',
    'xl:ml--60',
    { 'bg-white': fillBg },
  ]}
>
  <div class="w-48 xl:w-60">
    <LinkToHome />
  </div>
  <div class="mx-3 lg:hidden"></div>
  <nav>
    <section class="">
      <ul class="unset flex gap-4 [&>li]:p-0">
        <li><HeaderLink href="/toys">Toys</HeaderLink></li>
        <li><HeaderLink href="/posts">Posts</HeaderLink></li>
      </ul>
    </section>
  </nav>
  <div class="flex-grow"></div>
  <a
    href="https://github.com/bizarre-binary/bizarre-binary.github.io"
    aria-label="Open the repo on GitHub"
  >
    <div class="i-bi-git text-yellow-400 text-xl"></div>
  </a>
</div>
