---
---

<a href="/" class="flex items-center">
  <div class="i-bi-0-square text-yellow-500 text-xl"></div>
  <div class="i-bi-1-square-fill text-yellow-400 text-xl mr-1"></div>
  <h1 class="text-lg font-medium">Bizarre Binary</h1>
</a>
