---
const allPosts = Object.values(import.meta.glob('../../pages/posts/*.mdx', { eager: true }));
---

<ul>
  {
    allPosts.map((post) => (
      <li>
        <a href={post.url} class="link">
          <span class="i-bi-link-45deg inline-block align-middle" />
          {post.frontmatter.title}
        </a>
      </li>
    ))
  }
</ul>
