---
import AuxiliaryFrame from './AuxiliaryFrame.astro';
const path = Astro.url.pathname.replace(/\/$/, '');

const allToys = await Astro.glob('../../pages/toys/*.mdx');

const pathMatchesUrl = (url: string) => {
  let sanitized = url;

  if (url.endsWith('/')) {
    sanitized = url.slice(0, -1);
  }
  return path.startsWith(sanitized);
};
---

<AuxiliaryFrame>
  <nav slot="left" class="mt-10 px-3">
    <h2 class="my-2 font-bold text-gray-500">Toys</h2>
    <!-- safe list class="text-gray-800" -->
    <ul class="text-sm text-gray-500">
      {
        allToys.map((toy) => (
          <li class="truncate hover:text-gray-700">
            <a href={toy.url} class={toy.url && pathMatchesUrl(toy.url) ? 'text-gray-800' : ''}>
              {toy.frontmatter.title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</AuxiliaryFrame>
