---
const { title } = Astro.props;
---

<!-- to stick to the header -->
<div
  data-stuck-small
  class="sticky -top-1 z-30 h-0 opacity-0 transtion-duration-300 transition-opacity"
>
  <h5 class="absolute mt-5 text-sm ml-30">
    {title}
  </h5>
</div>

<!-- persistent one -->
<h1 class="text-3xl sm:text-4xl mb-3">
  {title}
</h1>

<!-- thanks to https://davidwalsh.name/detect-sticky -->
<script>
  const el = document.querySelector('[data-stuck-small]');

  const observer = new IntersectionObserver(
    ([e]) => {
      el &&
        ['opacity-100'].forEach((cls) => {
          el.classList.toggle(cls, e.intersectionRatio < 1);
        });
    },
    { threshold: [1] }
  );

  el && observer.observe(el);
</script>
