---
const allToys = Object.values(import.meta.glob('../../pages/toys/*.mdx', { eager: true }));
---

<ul>
  {
    allToys.map((toy) => (
      <li>
        <a href={toy.url} class="link">
          <span class="i-bi-link-45deg inline-block align-middle" />
          {toy.frontmatter.title}
        </a>
      </li>
    ))
  }
</ul>
