---
const allPosts = await Astro.glob('../pages/posts/*.mdx');
---

<ul>
  {
    allPosts.map((post) => (
      <li>
        <a href={post.url} class="link">
          <span class="i-bi-link-45deg text-ye/llow-500 te/xt-xl inline-block align-middle " />
          {post.frontmatter.title}
        </a>
      </li>
    ))
  }
</ul>
