---
const allToys = await Astro.glob('../pages/toys/*.mdx');
---

<ul>
  {
    allToys.map((toy) => (
      <li>
        <a href={toy.url} class="link">
          <span class="i-bi-link-45deg text-ye/llow-500 te/xt-xl inline-block align-middle " />
          {toy.frontmatter.title}
        </a>
      </li>
    ))
  }
</ul>
