---
import OpacitySkeleton from './OpacitySkeleton.svelte';

export interface Props {
  'turbo-id': string;
}
const { 'turbo-id': turboId } = Astro.props;
---

<div id={`turbo-pid-${turboId}`} data-turbo-permanent>
  <OpacitySkeleton client:visible>
    <slot />
  </OpacitySkeleton>
</div>
